.semaforo{
  width: 100px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 0 auto;
  flex-direction: column;
}

.semaforo .luz{
  width: 80%;
  height: 80%;
  border-radius: 100%;
  border: 1px solid black;
}

.semaforo .luz.siga{
  background-color:lightgreen
}

.semaforo .luz.precaucion{
  background-color:orange
}

.semaforo .luz.alto{
  background-color:red
}

.semaforo .luz.broken{
  background-color:rebeccapurple
}